<li>
  <span class="content">
    <%= h(verse.content).gsub(/\n/, '<br/>').html_safe %>
    <% if verse.category == "verse" %>
      <%= to_sanskrit_id(verse.chapter_num, verse.section_num, verse.verse_num) %> 
    <% end %>
    <% if signed_in? %>
      <%= link_to "|Edit|", edit_verse_path(verse) %>
      <%= link_to "|Delete|", verse, method: :delete, 
                                     confirm: "You sure?",
                                     title: verse.content %>
    <% end %> 
  </span>
  <% if verse.english and verse.english.length > 0 %>
    <br/>
    <span class="english">
    <span><%= h(verse.english).gsub(/\n/, '<br/>').html_safe %> </span>
    <% if verse.category == "verse" %>
      <%= to_english_id(verse.chapter_num, verse.section_num, verse.verse_num) %> 
    <% end %> 
  <% end %>
</li>
