<% provide(:title, 'Edit verse') %>
<h1> Update verse </h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@verse) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :content %>
      <%= f.text_field :content %>

      <%= f.label :category %>
      <%= f.text_field :category %>

      <%= f.label :english %>
      <%= f.text_field :english %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
   <% end %>
 </div>
</div>
