<% provide(:title, 'Edit verse') %>
<h1> Update verse </h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@verse) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :content %>
      <%= f.text_area :content, size: "60x6" %>

      <%= f.label :category %>
      <%= f.select :category, options_for_select([["Verse", "verse"], ["Title", "title"], ["Prayer", "prayer"], ["Chapter", "chapter"],["Section", "section"],["Chapter+Section", "chapter_section"],["Other", "other"]], @verse.category) %>

      <%= f.label :english %>
      <%= f.text_area :english, size: "60x6" %>

      <%= f.label :comment%>
      <%= f.text_area :comment, size: "60x3" %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
   <% end %>
 </div>
</div>
