<li>
 <span class="content"><%= micropost.title %></span> 
 <span class="content"><%= micropost.author%> </span> 
 <span class="timestamp"><%= micropost.published_at%></span>
 <span class="content"><%= micropost.content %></span>
 <span class="content"> <%= micropost.verse %> </span>
 <span class="content"> <%= micropost.translation %> </span>
 <span class="content"> <%= micropost.tweet %></span>
 <span class="content"> <%= micropost.tags %> </span>
</li>
