<li>
 <span class="title"><%= micropost.title %></span>
 <span class="content"><%= micropost.content %></span>
 <span class="tweet"> <%= micropost.tweet %></span>
 <span class="tags"> <%= micropost.tags %> </span>
 <span class="verse"> <%= micropost.verse %> </span>
 <span class="translation"> <%= micropost.translation %> </span>
</li>
