<% provide(:title, "Create Post") %>

<h1> New Post </h1>

<div class="row">
    <%= form_for(@micropost) do |f| %>
      <%= render 'shared/error_messages', object: @micropost %>
      <%= f.label :title%>
      <%= f.text_area :title, size: "40x1"%>

      <%= f.label :author %>
      <%= f.text_field :author %>

      <%= f.label :published_at %>
      <%= f.text_field :published_at %>

      <%= f.label :content %>
      <%= f.text_area :content, rows: 20 %>
      
      <%= f.label :verse %>
      <%= f.text_area :verse, size: "40x1" %>
      
      <%= f.label :translation %>
      <%= f.text_area :translation, size: "40x1" %>
      
      <%= f.label :tweet%>
      <%= f.text_area :tweet, size: "40x2"%>
      
      <%= f.label :tags %>
      <%= f.text_field :tags %>
      
      <%= f.label :urn %>
      <%= f.text_field :urn, size: "20x2" %>
      
      <%= f.submit "Create post", class: "btn btn-large btn-primary" %>
    <% end %>
</div> 

